<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>L1</string>
	<string>L2</string>
	<string>L3</string>
	<string>L4</string>
	<string>R1</string>
	<string>R2</string>
	<string>R3</string>
	<string>R4</string>
</array>
</plist>
